<div class="container">

    <div id="top_section">
        <div id="header">
            <strong>JBN ENTERPRISE</strong>
        </div>
        <div class="navbar navbar-default">
            
            <li><%=link_to("Home",{:action=>"homepage"}) %></li>


            <li><%=link_to("Products",{:action=>"homepage"}) %></li>


            <li><%=link_to("About Us",{:action=>"homepage"}) %></li>


            <li><%=link_to("Contact Us",{:action=>"homepage"}) %></li>

        </div>
    </div>


    <div id="middle_section">
        <div id="slider">
            <%=image_tag('all.png',:height=>"100%",:width=>"100%")%>

        </div>


    </div>

    <div id="bottom_section">
        <div id="footer">
        </div>

    </div>

</div>